{% extends 'base.html' %}

{% block contents %}
    {% if covid_datas %}
    <h3>{{covid_datas[0].createDt}} 기준 지역별 확진자 정보</h3>
    <table>
        <thead>
            <tr>
                <th>지역명</th>
                <th>신규확진자</th>
                <th>누적확진자</th>
                <th>사망자</th>
            </tr>
        </thead>
        <tbody>            
            {% for covid_data in covid_datas %}
            <tr>
                <th>{{covid_data.localName}}</th>
                <th>{{covid_data.incDec}}</th>
                <th>{{covid_data.confCase}}</th>
                <th>{{covid_data.deathCnt}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
    <p> 데이터가 없습니다. </p>
    {% endif %}
{% endblock %}