{% extends 'base.html' %}

{% block charts %}
{% for i in ['대한민국', '일본', '미국', '중국', '영국', '러시아', '캐나다', '브라질', '오스트레일리아', '사우디아라비아', '아르헨티나', '콩고'] %}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">{{i}}</h3>
        <div class="mb-1 text-body-secondary">2020~2024</div>
        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/static/img/{{i}}.png" width="300" height="200" class="mb-5">
      </div>
    </div>
  </div>
{% endfor %}        
{% endblock %}