{% extends 'base.html' %}

{% block head %}
<style>
    /* 페이지의 전체 높이와 너비를 설정합니다. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    /* 지도 요소의 크기를 설정합니다. */
    #map {
        height: 100%;
    }
</style>
{% endblock %}

{% block contents %}
<div id="map"></div>
<script>
    // 지도를 초기화하는 함수
    function initMap() {
        // 지도 옵션 설정
        var mapOptions = {
            center: { lat: 35.97, lng: 127.92 },
            zoom: 7.5,
            mapId: '1a50590f00c4b6dd'
        };
        // 지도 객체 생성
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        countryLayer = map.getFeatureLayer('COUNTRY');
        
        map.data.loadGeoJson("../../static/data/sido_korea.geojson")
        map.data.setStyle(function(feature){
            var color = "blue";
            if (feature.getProperty("name") === 'SF Boundary'){
                color = 'red';
            }
            return {
                fillColor: color,
                strokeColor: color,
                strokeWeight: 1
            };
        });
        map.data.addListener('click', function(event){
            feature1 = event.feature

            alert('Feature clicked : ' + feature1.getProperty('CTP_ENG_NM'));
        });

        var marker_seoul = new google.maps.Marker({
            position: { lat: 37.5519181289039, lng: 126.991823835789 },
            map: map,
            title: 'Seoul'
        })

        var marker_busan = new google.maps.Marker({
            position: { lat: 35.2103385848706, lng: 129.069113792843 },
            map: map,
            title: 'Busan'
        })
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap" async defer></script>
<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "{{api_key}}",
      v: "weekly",
      // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
      // Add other bootstrap parameters as needed, using camel case.
    });
  </script>
</script>




{% endblock %}