{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block contents %}

<div class="container p-3">
  <div class="col-md-12">
    <div class="input-group">
      <button class="btn btn-secondary" type="button" id="domestic_age">연령별 현황</button>
      <button class="btn btn-secondary" type="button" id="domestic_gender">성별 현황</button>
      <button class="btn btn-secondary" type="button" id="domestic_local">시도별 현황</button>
    </div>
    <div class="row border rounded">
      <h4 id="domestic_title">국내 연령대별 현황</h4>
      <div class="col-12 row justify-content-md-center" id="chart">
        <div class="col-12">
          <canvas id="resultChart_line"></canvas>
        </div>

        <div class="col-8">
          <canvas id="resultChart_pie"></canvas>
        </div>
      </div>

      <div id="map">
        <div class="col-12" id="map_data">

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
  const STORED_COLORS = [
    'rgba(234, 56, 78, 0.45)',
    'rgba(123, 45, 67, 0.89)',
    'rgba(12, 98, 210, 0.67)',
    'rgba(255, 165, 0, 0.23)',
    'rgba(75, 0, 130, 0.54)',
    'rgba(0, 255, 127, 0.61)',
    'rgba(70, 130, 180, 0.75)',
    'rgba(210, 105, 30, 0.47)',
    'rgba(100, 149, 237, 0.84)',
    'rgba(135, 206, 250, 0.65)',
    'rgba(255, 20, 147, 0.50)',
    'rgba(255, 0, 255, 0.37)'
  ];

  $(document).ready(function () {
    // domestic 페이지 시작될 때 실행되는 코드
    var resultChart_line;
    var resultChart_pie;

    $.ajax({
      url: "/age_gender/get_age_data",
      method: "POST",
      success: function (data) {
        var ctx = document.getElementById('resultChart_line').getContext('2d');
        var config = create_line_chart(data);
        resultChart_line = new Chart(ctx, config);

        var ctx2 = document.getElementById('resultChart_pie').getContext('2d');
        var config2 = create_pie_chart(data, "연령대");
        resultChart_pie = new Chart(ctx2, config2);

      },
      error: function (xhr, status, error) {
        console.log('Failed to fetch covid_data', status, error);
      }
    });

    $("#domestic_age").click(function () {
      $.ajax({
        url: "/age_gender/get_age_data",
        method: "POST",
        success: function (data) {
          $("div#map_data").hide()
          $("div#chart").show()

          var ctx = document.getElementById('resultChart_line').getContext('2d');
          var config = create_line_chart(data);
          resultChart_line.destroy();
          resultChart_line = new Chart(ctx, config);

          var ctx2 = document.getElementById('resultChart_pie').getContext('2d');
          var config2 = create_pie_chart(data, "연령대");
          resultChart_pie.destroy();
          resultChart_pie = new Chart(ctx2, config2);

          $("#domestic_title").html("국내 연령대별 현황")
        },
        error: function (xhr, status, error) {
          console.log('Failed to fetch covid_data', status, error);
        }
      });
    });

    $("#domestic_gender").click(function () {
      $.ajax({
        url: "/age_gender/get_gender_data",
        method: "POST",
        success: function (data) {
          $("div#map_data").hide()
          $("div#chart").show()

          var ctx = document.getElementById('resultChart_line').getContext('2d');
          var config = create_line_chart(data);
          resultChart_line.destroy();
          resultChart_line = new Chart(ctx, config);

          var ctx2 = document.getElementById('resultChart_pie').getContext('2d');
          var config2 = create_pie_chart(data, "성");
          resultChart_pie.destroy();
          resultChart_pie = new Chart(ctx2, config2);
          $("#domestic_title").html("국내 성별 현황")
        },
        error: function (xhr, status, error) {
          console.log('Failed to fetch covid_data', status, error);
        }
      });
    });

    $("#domestic_local").click(function () {
      $.ajax({
        url: "/area/domestic",
        method: "POST",
        success: function (data) {
          $("div#map_data").show()
          $("div#chart").hide()
          $("#domestic_title").html("국내 지역별 현황")
          $("#map_data").html(data)
        },
        error: function (xhr, status, error) {
          console.log('Failed to fetch covid_data', status, error);
        }
      });
    });
  });


  function create_line_chart(data) {
    var datasets = [];
    var color_index = 0;

    for (const key in data) {
      var createDt_list = [];
      var confCase_list = [];
      var deathCnt_list = [];

      data[key].forEach(function (covid_data) {
        createDt_list.push(covid_data.createDt);
        confCase_list.push(covid_data.confCase);
        deathCnt_list.push(covid_data.deathCnt);
      });
      const dsColor = STORED_COLORS[color_index++ % STORED_COLORS.length];
      var dataset = {
        label: key,
        data: confCase_list,
        backgroundColor: dsColor,
        borderColor: dsColor
      };

      datasets.push(dataset);
    }

    labels = createDt_list;

    const config = {
      type: 'line',
      data: {
        labels: labels,
        datasets: datasets
      },
      options: {
        responsive: true,
        interaction: {
          mode: "index",
          intersect: false
        },
        stacked: false,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: '일자별 누적 확진자 수 (2020.01.20 ~ 2023.08.31)'
          }
        },
        scales: {
          y: {
            type: 'linear',
            beginAtZero: true
          }
        }
      }
    }
    return config;
  };

  function create_pie_chart(data, gubun) {
    var datasets = [];
    var confCase_list = [];
    var labels = [];
    var colors = [];

    var color_index = 0;

    for (const key in data) {
      temp_length = data[key].length;
      labels.push(key);
      confCase_list.push(data[key][temp_length - 1].confCase);
      colors.push(STORED_COLORS[color_index++ % STORED_COLORS.length]);
    }

    var dataset = {
      data: confCase_list,
      backgroundColor: colors
    };

    datasets.push(dataset);

    const config = {
      type: 'pie',
      data: {
        labels: labels,
        datasets: datasets
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: gubun + '별 확진자수 분포'
          },
          datalabels: {
            formatter: (value, ctx) => {
              let sum = 0;
              let dataArr = ctx.chart.data.datasets[0].data;
              dataArr.map(data => {
                sum += data;
              });
              let percentage = (value * 100 / sum).toFixed(2) + "%";
              return percentage;
            },
            color: '#000'
          }
        }
      },
      plugins: [ChartDataLabels]
    };

    return config;
  };


</script>
{% endblock %}