{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block contents %}

<div class="container p-3">
  <div>
    <div class="row border rounded">

      {% if gubun %}
      <h4>국내 {{"성" if gubun=='gender' else "연령"}}별 현황</h4>
      <div class="col-8 d-none d-lg-block">
        <img src="/static/charts/20240530/{{gubun}}.png" alt="/static/charts/20240530/{{gubun}}.png" width="100%"
          height="100%">
      </div>
      {% elif map %}
      <h4>국내 지역별 현황</h4>
      <div class="col-8 d-none d-lg-block">
        <object data="{{map}}" width="100%" height="800px"></object>
      </div>
      {% else %}
      <div class="col-8 d-none d-lg-block">
        <p>잘못된 접근입니다.</p>
      </div>
      {% endif %}

      <div class="col-4 d-lg-block">
        <table class="table table-success table-striped">
          <tr>
            <th>기준일자</th>
            <td id="stdDay"></td>
          </tr>
          <tr>
            <th>지역명</th>
            <td id="area"></td>
          </tr>
          <tr>
            <th>누적확진자</th>
            <td id="confCase"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}

<script>
  $(document).ready(function () {
    $("object").on('popupopen', function (e) {
      // 팝업이 열릴 때, 팝업의 내용을 가져옵니다.
      var popupContent = e.popup.getContent();

      // 팝업 내용을 콘솔에 출력합니다.
      console.log(popupContent);
    });
  });

</script>


{% endblock %}