{% extends 'base.html' %}

{% block head %}
<!--해외 static에 있는 css적용 및 링크-->
<link rel="stylesheet" href="{{url_for('static', filename='css/status.css')}}">
{% endblock %}

{% block contents %}

<div class="col-md-4">
  <div class="input-group">
    <select class="form-select" id="state" >
      <option value="">국가선택</option>
      {% for country in countries %}
      <option value="{{country.name}}">{{ country.hangeul }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <img src="#" alt="" id="image">
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $("#state").change(function () {
      let state = "/static/img/20240530/" + $(this).val() + ".png";
      $("#image").attr("src", state);
      $("#image").attr("alt", state);
    });
  });
</script>
{% endblock %}