<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <script src="{{url_for('static', filename='js/sidebars/color-modes.js')}}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebars/sidebars.css')}}">
    
    {% block head %}
    
    {% endblock %}
</head>




<body>
    <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Covid-19</span> <!-- 홈페이지로 이동하는 버튼 -->
            </a>
            <hr>
            <!-- 게시판 -->
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <!-- class="active" -> 현재 선택된 게시판을 표시해주는 역할 -->
                    <a href="#" class="nav-link active">
                        홈페이지  
                    </a>
                </li>
            <body>
                
            
                
                <!--templates에 있는 status에다 국내 해외링크 연결할 예정-->
                <!--현황을 누르면 국내 해외 나올수있게 구현-->
                <li class="nav-item dropdown">
                    <button class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        현황
                      </button>
                        <div class="collapse show" id="home-collapse">
                             <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <button class="nav-link text-white" id="domestic">국내</button>
                                <button class="nav-link text-white" id="overseas">해외</button>
                             </ul>
                        </div>
                  </li>
            </body>       
                    
                

                <li class="nav-item" >
                    <a href="#" class="nav-link text-white">
                        <button class="nav-link text-white" >비교</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <button class="nav-link text-white">분석</button>
                    </a>
                </li>

            </ul>
            <hr>
        </div>

        <div class="b-example-divider b-example-vr"></div>


        <div class="container p-3 ">
            {% block contents %}
                
            {% endblock %}
        </div>
    </main>

    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/sidebars/sidebars.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>    
    {% block script %}

    {% endblock %}
    


    
    <script>
        $(document).ready(function(){
            // 국내버튼을 누르면 domestic으로 가게해주는 jQuery
            $("#domestic").click(function(){
                location.href="/area/domestic";
            });

            // 해외버튼을 누르면 domestic으로 가게해주는 jQuery
            $("#overseas").click(function(){
                location.href="/area/overseas";
            });
        });
    </script>
    
</body>

</html>