{% extends 'base.html' %}

{% block contents %}

<table>
  <tr>
    <td><h5>한국</h5>
      <img src="/static/img/대한민국.png" width="300" height="200" alt="kr"></td>
    <td><h5>일본</h5>
      <img src="/static/img/일본.png" width="300" height="200" alt="jp"></td>
    <td><h5>중국</h5>
      <img src="/static/img/중국.png" width="300" height="200" alt="cn"></td>
    <td><h5>러시아</h5>
      <img src="/static/img/러시아.png" width="300" height="200" alt="ru"></td> 
  </tr>

  <tr>
    <td><h5>미국</h5>
      <img src="/static/img/미국.png" width="300" height="200" alt=""></td>
    <td><h5>캐나다</h5>
      <img src="/static/img/캐나다.png" width="300" height="200" alt=""></td>
    <td><h5>영국</h5>
      <img src="/static/img/영국.png" width="300" height="200" alt=""></td>
    <td><h5>오스트레일리아</h5>
      <img src="/static/img/오스트레일리아.png" width="300" height="200" alt=""></td>
  </tr>

  <tr>
    <td><h5>브라질</h5>
      <img src="/static/img/브라질.png" width="300" height="200" alt=""></td>
    <td><h5>콩고</h5>
      <img src="/static/img/콩고.png" width="300" height="200" alt=""></td>
    <td><h5>사우디아라비아</h5>
      <img src="/static/img/사우디아라비아.png" width="300" height="200" alt=""></td>
    <td><h5>아르헨티나</h5>
      <img src="/static/img/아르헨티나.png" width="300" height="200" alt=""></td>
  </tr>
</table>
{% endblock %}